* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navigation {
  list-style-type: none;
  display: flex;
}

.navigation ul,
ol {
  list-style-type: none;
}
.menu a {
  background: blueviolet;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.menu ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.menu.visible > ul {
  display: block;
}

.submenu.visible > ul {
  display: block;
}

.submenu.visible {
  position: relative;
}

.submenu.visible ul {
  top: 0px;
  right: -100px;
}
